.vscode
toGround/
opssat-doom.map
opssat-doom-xlib.map
src/build/
src/bin/
demos/doom-earth.wad
lib/
deploy/
backup/
extract/
smartcam/config.dev.ini

playpal-image-resample/resample
playpal-image-resample/sky1.bmp
playpal-image-resample/playpal.lmp